
/* GENERAL */

@font-face {
    font-family: playfair-reg;
    src: url(PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: playfair-ita;
    src: url(PlayfairDisplay-Italic.ttf);
}


:root {
    --white: #FCFCFC;
    --grey: #AEAEAE;
    --black: #202020;
}


/* Stylesheet */

#contentWrap {
    padding-top: 14%;
    margin-right: 24%;
    margin-left: 24%;
}

h1 {
    font-family: playfair-reg;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -1px;
    line-height: 64px;

    color: var(--black);
    margin: 0px;
    white-space: pre-line;
}

h2 {
    font-family: playfair-reg;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
    letter-spacing: 0.15px;
    margin: 0px;
    margin-top: 20px;
    white-space: pre-line;
    line-height: 32px;
}

a {
    color: var(--black);
}

#creditSection {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 28px;


    border-top: solid;
    border-width: 0.1px;
}

#creditSection p {
    font-family: Monaco;
    font-weight: 400;
    color: var(--grey);
    font-size: 11px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

#creditSection p:first-child {
    color: var(--black);
}

#creditSection a {
    text-decoration: none;
}

#quoteSection {
    margin-top: 14vh;
}




#quoteSection p:nth-child(2) {
    font-family: playfair-ita;
    font-weight: 200;
    color: var(--black);
    font-size: 32px;
    line-height: 42px;
    margin: 0px;
    text-align: center;
    white-space: pre-line;
}

#quoteSection p:nth-child(3) {
    font-family: Monaco;
    font-weight: 800;
    color: var(--black);
    font-size: 13px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 36px;
}

#spacerLine {
    width: 24%;
    border-top: solid;
    border-width: 0.1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}







.poem {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 64px;
}

.poemParagraph p {
    font-family: playfair-reg;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0.15px;
    margin: 0px;
    line-height: 40px;
}

#lineNumber {
    font-family: Monaco;
    font-weight: 800;
    color: var(--grey);
    font-size: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 4px;
}


.draggable {
    border-style: solid; 
    border-radius: 8px;
    border-color: #E6E6E6;
    background-color: #F9F9F9;
   
    padding: 18px 16px 36px 24px;

    display: flex;
    cursor: move;
    align-items: center;
    gap: 24px;

    margin-bottom: 12px;
}


.draggable.dragging {
  opacity: 0.5;
}

.instruction p {
    font-family: Monaco;
    font-weight: 400;
    color: var(--black);
    font-size: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.instruction {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12vh;
    margin-bottom: 28px;
}

i {
    padding-top: 16px;
    opacity: 50%;
}

.cta a {
    font-family: playfair-reg;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
    letter-spacing: 0.15px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}

.cta {
    margin-bottom: 10vh;
}
